/*Details and summary styling Start*/
details {
    position: relative;
    display: inline-block;
    cursor: pointer;
    border-radius: 3px;
    transition: 0.15s background linear;
    &:hover {
      background: #d4d1ec;
    }
  }
  
  summary {
    padding: 10px;
    list-style: none;
    background: url("https://assets.codepen.io/14179/Info.svg") 11px 11.5px
      no-repeat;
    padding-left: 33px;
  }
  
  details p {
    cursor: auto;
    background: #eee;
    padding: 15px;
    width: 250px;
    position: absolute;
    left: 0;
    top: 35px;
    border-radius: 4px;
    right: 0;
  
    &:before {
      content: "";
      width: 0;
      height: 0;
      border-left: 8px solid transparent;
      border-right: 8px solid transparent;
      border-bottom: 12px solid #eee;
      top: -10px;
      position: absolute;
      left: 10px;
    }
  }
  
  details[open] p {
    animation: animateDown 0.2s linear forwards;
  }
  
  @keyframes animateDown {
    0% {
      opacity: 0;
      transform: translatey(-15px);
    }
    100% {
      opacity: 1;
      transform: translatey(0);
    }
  }
  /*Details and summary styling End*/