:root{
    --primary:#ffba08;
    /* --navbg:rgb(24, 8, 56); */
    --navbg:#03071e;
    --secondary:#ef233c;
    --neutral:#dee2ff;
    --dark:#2b2b33;
    --tertiery:#fbea68;
}
*{
    transition: all 0.16s linear;
}
body{
    overflow-x: hidden;
}
html,body{
    font-family: 'Roboto Condensed', sans-serif;
    scrollbar-color: #03071e rgb(255, 255, 255);
} 
#wave{
    vertical-align:top !important;  /*to remove white space after svg*/
}
/*Common Flex properties */
.f1{
    font-size: 32pt;
}
.f2{
    font-size: 24pt; 
}
.f3{
    font-size:16pt;
}
.fw3{
    font-weight: 700;
}
.mp8{
    margin: 8px;
    padding: 8px;
}
.mp16{
    margin: 16px;
    padding: 16px;
}
.mp32{
    padding:32px;
    margin:32px;
}
.dfc{
    display:flex;
    justify-content:center;
    align-items:center;
}
.cflex{ /* common Flex-Column properties */
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
    text-align: center;
}
/*Navbar*/
nav{ 
    /* margin-bottom:32px; */
    width:100vw;
    height:40px;
    z-index:2;
    position: fixed !important;
    top:0;
    padding:8px;
    display: grid;
    /* gap:8px; */
    grid-template-columns: 8fr repeat(7,1fr);
    font-weight:888;
    background-color:rgba(255, 255, 255, 1);
}
.logo{
    margin:0px;
}
.navItem{
    margin:0px 8px;
    padding: 8px;
    border-radius:8px;
    transition: all 0.16s linear;
}
.navItem:hover{
    color:#000;
    background: linear-gradient(90deg, var(--primary) 56%, rgba(196, 196, 196, 0) 99.15%);
    border-radius:8px;
}


/*Section1 */
.sec1{
    width:100vw;
    height:40vh;
    padding-top:88px;
    flex-wrap: wrap; 
    color: var(--navbg);
}
.mainHead{
    color:#272729;
    font-size: 112px;
}

/*Landing */
.idea{
    color: var(--primary);
    animation: txtAnim 8s infinite LINEAR;
}

.regBtn{
    z-index:1;
    padding:16px;
    margin:16px;
    font-size:16px;
    background-color: var(--primary);
    border: 1px solid var(--primary);
    border-radius: 32px;

}
.regBtn:hover{
background-color: white;
border: 1px solid var(--navbg);
cursor:pointer;
}

/*Text animation*/
@keyframes txtAnim {
    from{
        color: var(--primary);
    }
    to{
        color:var(--secondary);
    }
}


/*Waves animation*/
.wave1 path{
    
    animation:anim 56s infinite linear;
}

/*SVG animation keyframes*/
@keyframes anim{
    0%{
        d:path("M0,343L40,359.3C80,376,160,408,240,351.2C320,294,400,147,480,98C560,49,640,98,720,147C800,196,880,245,960,269.5C1040,294,1120,294,1200,261.3C1280,229,1360,163,1440,130.7C1520,98,1600,98,1680,147C1760,196,1840,294,1920,351.2C2000,408,2080,425,2160,424.7C2240,425,2320,408,2400,343C2480,278,2560,163,2640,130.7C2720,98,2800,147,2880,212.3C2960,278,3040,359,3120,392C3200,425,3280,408,3360,400.2C3440,392,3520,392,3600,383.8C3680,376,3760,359,3840,326.7C3920,294,4000,245,4080,253.2C4160,261,4240,327,4320,302.2C4400,278,4480,163,4560,106.2C4640,49,4720,49,4800,57.2C4880,65,4960,82,5040,73.5C5120,65,5200,33,5280,24.5C5360,16,5440,33,5520,57.2C5600,82,5680,114,5720,130.7L5760,147L5760,490L5720,490C5680,490,5600,490,5520,490C5440,490,5360,490,5280,490C5200,490,5120,490,5040,490C4960,490,4880,490,4800,490C4720,490,4640,490,4560,490C4480,490,4400,490,4320,490C4240,490,4160,490,4080,490C4000,490,3920,490,3840,490C3760,490,3680,490,3600,490C3520,490,3440,490,3360,490C3280,490,3200,490,3120,490C3040,490,2960,490,2880,490C2800,490,2720,490,2640,490C2560,490,2480,490,2400,490C2320,490,2240,490,2160,490C2080,490,2000,490,1920,490C1840,490,1760,490,1680,490C1600,490,1520,490,1440,490C1360,490,1280,490,1200,490C1120,490,1040,490,960,490C880,490,800,490,720,490C640,490,560,490,480,490C400,490,320,490,240,490C160,490,80,490,40,490L0,490Z");

    }
    25%{
        d:path("M0,98L40,81.7C80,65,160,33,240,73.5C320,114,400,229,480,294C560,359,640,376,720,326.7C800,278,880,163,960,147C1040,131,1120,212,1200,220.5C1280,229,1360,163,1440,147C1520,131,1600,163,1680,171.5C1760,180,1840,163,1920,138.8C2000,114,2080,82,2160,89.8C2240,98,2320,147,2400,163.3C2480,180,2560,163,2640,130.7C2720,98,2800,49,2880,81.7C2960,114,3040,229,3120,245C3200,261,3280,180,3360,171.5C3440,163,3520,229,3600,212.3C3680,196,3760,98,3840,65.3C3920,33,4000,65,4080,89.8C4160,114,4240,131,4320,130.7C4400,131,4480,114,4560,155.2C4640,196,4720,294,4800,310.3C4880,327,4960,261,5040,228.7C5120,196,5200,196,5280,220.5C5360,245,5440,294,5520,326.7C5600,359,5680,376,5720,383.8L5760,392L5760,490L5720,490C5680,490,5600,490,5520,490C5440,490,5360,490,5280,490C5200,490,5120,490,5040,490C4960,490,4880,490,4800,490C4720,490,4640,490,4560,490C4480,490,4400,490,4320,490C4240,490,4160,490,4080,490C4000,490,3920,490,3840,490C3760,490,3680,490,3600,490C3520,490,3440,490,3360,490C3280,490,3200,490,3120,490C3040,490,2960,490,2880,490C2800,490,2720,490,2640,490C2560,490,2480,490,2400,490C2320,490,2240,490,2160,490C2080,490,2000,490,1920,490C1840,490,1760,490,1680,490C1600,490,1520,490,1440,490C1360,490,1280,490,1200,490C1120,490,1040,490,960,490C880,490,800,490,720,490C640,490,560,490,480,490C400,490,320,490,240,490C160,490,80,490,40,490L0,490Z"
        );
    }
    50%{
        d:path("M0,196L40,236.8C80,278,160,359,240,375.7C320,392,400,343,480,310.3C560,278,640,261,720,212.3C800,163,880,82,960,49C1040,16,1120,33,1200,106.2C1280,180,1360,310,1440,302.2C1520,294,1600,147,1680,73.5C1760,0,1840,0,1920,49C2000,98,2080,196,2160,245C2240,294,2320,294,2400,253.2C2480,212,2560,131,2640,147C2720,163,2800,278,2880,269.5C2960,261,3040,131,3120,98C3200,65,3280,131,3360,130.7C3440,131,3520,65,3600,89.8C3680,114,3760,229,3840,269.5C3920,310,4000,278,4080,277.7C4160,278,4240,310,4320,269.5C4400,229,4480,114,4560,114.3C4640,114,4720,229,4800,294C4880,359,4960,376,5040,326.7C5120,278,5200,163,5280,106.2C5360,49,5440,49,5520,89.8C5600,131,5680,212,5720,253.2L5760,294L5760,490L5720,490C5680,490,5600,490,5520,490C5440,490,5360,490,5280,490C5200,490,5120,490,5040,490C4960,490,4880,490,4800,490C4720,490,4640,490,4560,490C4480,490,4400,490,4320,490C4240,490,4160,490,4080,490C4000,490,3920,490,3840,490C3760,490,3680,490,3600,490C3520,490,3440,490,3360,490C3280,490,3200,490,3120,490C3040,490,2960,490,2880,490C2800,490,2720,490,2640,490C2560,490,2480,490,2400,490C2320,490,2240,490,2160,490C2080,490,2000,490,1920,490C1840,490,1760,490,1680,490C1600,490,1520,490,1440,490C1360,490,1280,490,1200,490C1120,490,1040,490,960,490C880,490,800,490,720,490C640,490,560,490,480,490C400,490,320,490,240,490C160,490,80,490,40,490L0,490Z");
    }
    75%{
        d:path("M0,392L40,375.7C80,359,160,327,240,318.5C320,310,400,327,480,294C560,261,640,180,720,196C800,212,880,327,960,375.7C1040,425,1120,408,1200,334.8C1280,261,1360,131,1440,89.8C1520,49,1600,98,1680,155.2C1760,212,1840,278,1920,326.7C2000,376,2080,408,2160,351.2C2240,294,2320,147,2400,114.3C2480,82,2560,163,2640,204.2C2720,245,2800,245,2880,204.2C2960,163,3040,82,3120,98C3200,114,3280,229,3360,261.3C3440,294,3520,245,3600,261.3C3680,278,3760,359,3840,383.8C3920,408,4000,376,4080,318.5C4160,261,4240,180,4320,171.5C4400,163,4480,229,4560,236.8C4640,245,4720,196,4800,220.5C4880,245,4960,343,5040,351.2C5120,359,5200,278,5280,228.7C5360,180,5440,163,5520,147C5600,131,5680,114,5720,106.2L5760,98L5760,490L5720,490C5680,490,5600,490,5520,490C5440,490,5360,490,5280,490C5200,490,5120,490,5040,490C4960,490,4880,490,4800,490C4720,490,4640,490,4560,490C4480,490,4400,490,4320,490C4240,490,4160,490,4080,490C4000,490,3920,490,3840,490C3760,490,3680,490,3600,490C3520,490,3440,490,3360,490C3280,490,3200,490,3120,490C3040,490,2960,490,2880,490C2800,490,2720,490,2640,490C2560,490,2480,490,2400,490C2320,490,2240,490,2160,490C2080,490,2000,490,1920,490C1840,490,1760,490,1680,490C1600,490,1520,490,1440,490C1360,490,1280,490,1200,490C1120,490,1040,490,960,490C880,490,800,490,720,490C640,490,560,490,480,490C400,490,320,490,240,490C160,490,80,490,40,490L0,490Z");
    }

    100%{
          d:path("M0,343L40,359.3C80,376,160,408,240,351.2C320,294,400,147,480,98C560,49,640,98,720,147C800,196,880,245,960,269.5C1040,294,1120,294,1200,261.3C1280,229,1360,163,1440,130.7C1520,98,1600,98,1680,147C1760,196,1840,294,1920,351.2C2000,408,2080,425,2160,424.7C2240,425,2320,408,2400,343C2480,278,2560,163,2640,130.7C2720,98,2800,147,2880,212.3C2960,278,3040,359,3120,392C3200,425,3280,408,3360,400.2C3440,392,3520,392,3600,383.8C3680,376,3760,359,3840,326.7C3920,294,4000,245,4080,253.2C4160,261,4240,327,4320,302.2C4400,278,4480,163,4560,106.2C4640,49,4720,49,4800,57.2C4880,65,4960,82,5040,73.5C5120,65,5200,33,5280,24.5C5360,16,5440,33,5520,57.2C5600,82,5680,114,5720,130.7L5760,147L5760,490L5720,490C5680,490,5600,490,5520,490C5440,490,5360,490,5280,490C5200,490,5120,490,5040,490C4960,490,4880,490,4800,490C4720,490,4640,490,4560,490C4480,490,4400,490,4320,490C4240,490,4160,490,4080,490C4000,490,3920,490,3840,490C3760,490,3680,490,3600,490C3520,490,3440,490,3360,490C3280,490,3200,490,3120,490C3040,490,2960,490,2880,490C2800,490,2720,490,2640,490C2560,490,2480,490,2400,490C2320,490,2240,490,2160,490C2080,490,2000,490,1920,490C1840,490,1760,490,1680,490C1600,490,1520,490,1440,490C1360,490,1280,490,1200,490C1120,490,1040,490,960,490C880,490,800,490,720,490C640,490,560,490,480,490C400,490,320,490,240,490C160,490,80,490,40,490L0,490Z");
        
    }
}
.sec2{
    /* background: linear-gradient(180deg, #F36B3D 8%, rgb(255, 255, 255) 56.41%); */
    background: linear-gradient(180deg, #F36B3D 8%, rgb(255, 255, 255) 56.41%);
    width:100vw;
    height:100vh;    
}

.about{
    color: var(--navbg);
    margin:0px 8px;
    padding:64px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    text-align: center;
}
.svgLanding{
    width:512px;
    height:auto;
}


/*Section 3 Styling Start*/
/* .sec3{
  

} */
.tracksWrapper{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    margin:0px 96px;
}
.trackCard{
    /* border: 1px solid rgb(43, 42, 42); */
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-left-radius: 32px;
    border-bottom-right-radius: 32px;
    -moz-box-shadow: 8px 8px 40px 0px rgba(129, 129, 129, 0.75);
    box-shadow: 0px 8px 40px 0px rgba(129, 129, 129, 0.75);
    margin:0px 128px;
}

.t1Img,.t2Img,.t3Img{
    padding:8px;
    width:128px;
    height: 128px;
}
.prize1{
    background: linear-gradient(90deg, #FFD700 5.53%, rgba(255, 216, 2, 0.06) 104.62%);
}
.prize2{
    background: linear-gradient(90deg, #C6C5BF 5.53%, rgba(210, 210, 210, 0) 104.62%);
}
.prize3{
    background: linear-gradient(90deg, #A56F61 0%, rgba(165, 111, 97, 0) 100%);
}

/*Timeline section*/

.tWrapper{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px; 
}

.tCard1 { grid-area: 1 / 1 / 2 / 2; }
.tCard2 { grid-area: 2 / 3 / 3 / 4; }
.tCard3 { grid-area: 3 / 1 / 4 / 2; }
.tCard4 { grid-area: 4 / 3 / 5 / 4; }
.rope { grid-area: 1 / 2 / 5 / 3; }

.tCard1,.tCard2,.tCard3,.tCard4{
  border-radius: 8px;
  width:128px;
  height:128px;
  font-weight: 560;
  box-shadow: 0px 4px 8px 0px rgba(129, 129, 129, 0.75);
}
.tCard1{
    background-color: #c6c6c6;
}
.tCard2{
    background-color: #9cc4d1;
}
.tCard3{
    background-color: #e9e59d;
}
.tCard4{
    background-color: #959dcb;
}

/*FAQs section styling*/
.sec6{
    height:64vh;
    text-align: center;
}
/*Details and summary styling Start*/

details {
    position: relative;
    display: inline-block;
    cursor: pointer;
    border-radius: 8px;
    transition: 0.16s background linear;
}
details:hover {
    background: var(--tertiery);
}
summary {
    padding: 8px;
    list-style: none;
    padding-left: 32px;
}
details p {
    cursor: auto;
    background:var(--neutral);
    position: absolute;
    border-radius: 8px;


}
/*Styling for the triangle at top*/
details p:before {
    content: "";
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 16px solid var(--neutral);
    top: -8px;
    position: absolute;
    left: 24px;
}
details[open] p {
    animation: animateDown 0.2s linear forwards;
}
@keyframes animateDown {
    0% {
        opacity: 0;
        transform: translatey(-16px);
   }
    100% {
        opacity: 1;
        transform: translatey(0);
   }
}
/*Details and summary styling End*/

 .faqsWrapper{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap:48px 0px;
}
.wave2 path{
    
    animation:wave2Anim 16s infinite linear;
}
/* @keyframes wave2Anim {
    0%{
        d:path("M0,80L21.8,75C43.6,70,87,60,131,51.7C174.5,43,218,37,262,35C305.5,33,349,37,393,36.7C436.4,37,480,33,524,33.3C567.3,33,611,37,655,36.7C698.2,37,742,33,785,26.7C829.1,20,873,10,916,11.7C960,13,1004,27,1047,40C1090.9,53,1135,67,1178,68.3C1221.8,70,1265,60,1309,61.7C1352.7,63,1396,77,1440,71.7C1483.6,67,1527,43,1571,41.7C1614.5,40,1658,60,1702,58.3C1745.5,57,1789,33,1833,25C1876.4,17,1920,23,1964,31.7C2007.3,40,2051,50,2095,51.7C2138.2,53,2182,47,2225,43.3C2269.1,40,2313,40,2356,40C2400,40,2444,40,2487,46.7C2530.9,53,2575,67,2618,60C2661.8,53,2705,27,2749,16.7C2792.7,7,2836,13,2880,18.3C2923.6,23,2967,27,3011,23.3C3054.5,20,3098,10,3120,5L3141.8,0L3141.8,100L3120,100C3098.2,100,3055,100,3011,100C2967.3,100,2924,100,2880,100C2836.4,100,2793,100,2749,100C2705.5,100,2662,100,2618,100C2574.5,100,2531,100,2487,100C2443.6,100,2400,100,2356,100C2312.7,100,2269,100,2225,100C2181.8,100,2138,100,2095,100C2050.9,100,2007,100,1964,100C1920,100,1876,100,1833,100C1789.1,100,1745,100,1702,100C1658.2,100,1615,100,1571,100C1527.3,100,1484,100,1440,100C1396.4,100,1353,100,1309,100C1265.5,100,1222,100,1178,100C1134.5,100,1091,100,1047,100C1003.6,100,960,100,916,100C872.7,100,829,100,785,100C741.8,100,698,100,655,100C610.9,100,567,100,524,100C480,100,436,100,393,100C349.1,100,305,100,262,100C218.2,100,175,100,131,100C87.3,100,44,100,22,100L0,100Z")
    }
    50%{
        d:path("M0,0L26.7,4.2C53.3,8,107,17,160,20.8C213.3,25,267,25,320,45.8C373.3,67,427,108,480,129.2C533.3,150,587,150,640,154.2C693.3,158,747,167,800,170.8C853.3,175,907,175,960,154.2C1013.3,133,1067,92,1120,79.2C1173.3,67,1227,83,1280,79.2C1333.3,75,1387,50,1440,37.5C1493.3,25,1547,25,1600,54.2C1653.3,83,1707,142,1760,137.5C1813.3,133,1867,67,1920,50C1973.3,33,2027,67,2080,79.2C2133.3,92,2187,83,2240,100C2293.3,117,2347,158,2400,150C2453.3,142,2507,83,2560,66.7C2613.3,50,2667,75,2720,75C2773.3,75,2827,50,2880,45.8C2933.3,42,2987,58,3040,79.2C3093.3,100,3147,125,3200,125C3253.3,125,3307,100,3360,83.3C3413.3,67,3467,58,3520,75C3573.3,92,3627,133,3680,145.8C3733.3,158,3787,142,3813,133.3L3840,125L3840,250L3813.3,250C3786.7,250,3733,250,3680,250C3626.7,250,3573,250,3520,250C3466.7,250,3413,250,3360,250C3306.7,250,3253,250,3200,250C3146.7,250,3093,250,3040,250C2986.7,250,2933,250,2880,250C2826.7,250,2773,250,2720,250C2666.7,250,2613,250,2560,250C2506.7,250,2453,250,2400,250C2346.7,250,2293,250,2240,250C2186.7,250,2133,250,2080,250C2026.7,250,1973,250,1920,250C1866.7,250,1813,250,1760,250C1706.7,250,1653,250,1600,250C1546.7,250,1493,250,1440,250C1386.7,250,1333,250,1280,250C1226.7,250,1173,250,1120,250C1066.7,250,1013,250,960,250C906.7,250,853,250,800,250C746.7,250,693,250,640,250C586.7,250,533,250,480,250C426.7,250,373,250,320,250C266.7,250,213,250,160,250C106.7,250,53,250,27,250L0,250Z")
    }
    100%{
        d:path("M0,80L21.8,75C43.6,70,87,60,131,51.7C174.5,43,218,37,262,35C305.5,33,349,37,393,36.7C436.4,37,480,33,524,33.3C567.3,33,611,37,655,36.7C698.2,37,742,33,785,26.7C829.1,20,873,10,916,11.7C960,13,1004,27,1047,40C1090.9,53,1135,67,1178,68.3C1221.8,70,1265,60,1309,61.7C1352.7,63,1396,77,1440,71.7C1483.6,67,1527,43,1571,41.7C1614.5,40,1658,60,1702,58.3C1745.5,57,1789,33,1833,25C1876.4,17,1920,23,1964,31.7C2007.3,40,2051,50,2095,51.7C2138.2,53,2182,47,2225,43.3C2269.1,40,2313,40,2356,40C2400,40,2444,40,2487,46.7C2530.9,53,2575,67,2618,60C2661.8,53,2705,27,2749,16.7C2792.7,7,2836,13,2880,18.3C2923.6,23,2967,27,3011,23.3C3054.5,20,3098,10,3120,5L3141.8,0L3141.8,100L3120,100C3098.2,100,3055,100,3011,100C2967.3,100,2924,100,2880,100C2836.4,100,2793,100,2749,100C2705.5,100,2662,100,2618,100C2574.5,100,2531,100,2487,100C2443.6,100,2400,100,2356,100C2312.7,100,2269,100,2225,100C2181.8,100,2138,100,2095,100C2050.9,100,2007,100,1964,100C1920,100,1876,100,1833,100C1789.1,100,1745,100,1702,100C1658.2,100,1615,100,1571,100C1527.3,100,1484,100,1440,100C1396.4,100,1353,100,1309,100C1265.5,100,1222,100,1178,100C1134.5,100,1091,100,1047,100C1003.6,100,960,100,916,100C872.7,100,829,100,785,100C741.8,100,698,100,655,100C610.9,100,567,100,524,100C480,100,436,100,393,100C349.1,100,305,100,262,100C218.2,100,175,100,131,100C87.3,100,44,100,22,100L0,100Z")
    }
} */


.footer{
    margin:-4px 0px;
    color: rgb(194, 194, 194);
    background-color: var(--dark);
    display: grid; 
    grid-template-columns: repeat(4,1fr) ;
    }


/*Styles for mobile screens less than 800px width*/
@media(max-width:800px){
    .mainHead{
        font-size: 56px;
    }
    nav{
        height:48px;
        padding:8px;
        overflow-x: scroll;
    }
    .navItem{
        padding:0px 16px;
    }

    .navItem:hover{
      border-radius: 8px;
    }
    .tracksWrapper{
       display: flex;
       flex-direction: column;
       margin:8px !important;
    }
    .trackCard{
        width:304px;
        height:400px;
        margin:32px 8px;
    }
    .t1Img,.t2Img,.t3Img{
        width:56px;
        height: 56px;
        padding:8px;
    }

    .faqsWrapper{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap:56px 0px;
    }
    .about{
       display:flex;
       flex-direction: column;
       justify-content:center;
       align-items:center;       
    }
   
    .tWrapper{
        margin:24px; 
    }
    .rope{
        border-radius: 32px;
        margin:0px 4px;
    }
    .svgLanding{
        display: none !important;
    }
}
