.sec{
  /* background-color: blueviolet; */
}
.f1{
  font-size: 64px;
}
.f2{
  font-size: 40px;
}
.f3{
  font-size: 24px;
}
.f4{
  font-size: 16px;
}
.rflex{
  flex-wrap: nowrap;
}

.tleft {
  text-align: left;
}
.imgSize {
  width: 600px;
  height: auto;
  object-fit: cover;
}
.imgLarge {
  width: 560px;
  height: 400px;
}
.imgSmall{
  width: 300px;
  border-radius:8px;
}
.imgSmallRound{
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius:50%;
}
.img100{
  width:100%;
}
.wrapper{
  width:100vw; 
}
.imgSponsor{
  width:160px;
  height: auto;
}
.row3{
background-color: rgb(161, 161, 161);
width: 100vw;
}

.fc{
  width:max-content;
}
.row4{
}
.rotate{
  transform: rotate(-90deg)
}
.card1{
  color: #fff;
  background-color: rgb(48, 48, 48);
  box-shadow: 0px 0px 2px 1px rgb(33, 33, 33);
  border-radius: 4px;
}
.row5{
  font-style:italic;
}
@media (max-width: 960px) {
  .tleft {
    width: 88%;
  }
  .imgSize {
    width: 300px;
    height: auto;
    object-fit: cover;
  }
  .rflex{
    flex-wrap: wrap !important;
  }
.rotate{
  transform: rotate(0deg)
}
}
